body{
    margin:0;
    padding:0;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 12px;
    background: #F7F3F3;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 4em;
}
h2{
    font-size: 2em;
}
p{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;   
}
.nav{
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    z-index: 2000;
    font-size: 2em;
    font-weight: bold;
}
.nav-home{
    color: white;
    padding-top: 2rem;
    grid-column: 2/3;
    text-align: left;
}
.nav-link-wrapper{
    grid-column: 9/12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    column-gap: 0em;
    padding-top: 2rem;
    background-color: #F7F3F3;
    padding-bottom: 2em;
}
.nav-link{
    color: #afafaf;
}
.active{
    color: #0e3480;
}
.main{
    grid-column: 1/9;
    height: 100vh;
    background-color: grey;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrapper{
    width: 100%;
    height: 100vh;
    background: rgba(15, 82, 158, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.main-wrapper-img{
    grid-column: 2/3;
    grid-row: 3/3;
}
.main-wrapper-img img{
    width: 10em;
    padding-right: 1em;
    border-right: 0.8em solid white;
}
.main-wrapper-title{
    color: white;
    grid-column: 3/8;
    grid-row: 3/3;
}
.side-content{
    grid-column: 9/13;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
}
.side-content-title{
    grid-column: 1/4;
    grid-row: 2/2;
    text-align: center;
    padding-left: 1rem;
}
.side-content-link{
    grid-column: 1/4;
    grid-row: 4/4;
    text-align: center;
}
.about-wrapper{
    grid-column: 2/9;
    grid-row: 2/6;
}
.about-title-wrapper{
    width: 100%;
    color: white;
    display: flex;
}
.about-title-img img{
    width: 8em;
    padding-right: 2em;
    border-right: 0.5em solid white;
    margin-right: 2em;
}
.about-p{
    min-height: 10px;
    color: white;
    width: 80%;
}
.about-wrapper h2{
    color: white;
    height: 1.5em;
    padding-left: 0.5em;
    border-left: 0.3em solid white;
    margin-top: 2em;
}
.about-wrapper ol{
    color: white;
    font-size: 14px;
}
.event-wrapper{
    grid-column: 1/9;
    height: 100vh;
    overflow: hidden;
}
.event-image-carousel-wrapper{
    width: 500%;
}
.event-image-carousel{
    width: 20%;
    overflow: hidden;
}
.event-image-carousel img{
    width: 120%;
    margin-left: -10%;
}